<div class="container">
  <mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          type="email"
          matInput
          placeholder="pat@example.com"
          required
          email
          name="email"
          ngModel
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.invalid"></mat-error> </mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          type="password"
          matInput
          placeholder="123456"
          required
          name="password"
          ngModel
          #passwordInput="ngModel"
        />
        <mat-error *ngIf="passwordInput.invalid"></mat-error> </mat-form-field
      ><br />
      <button mat-flat-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>
</div>
